@charset "utf-8";
/* CSS Document */
* {
	margin:auto;
}

body {
 
}

#MainContainer {
  margin-top:150px;
	width:402px;
	height:260px;
	border:1px solid;
}

#HeadingContainer {
  margin-left:10px;
  margin-top:10px;
  width:380px;
  height:75px;
  margin-right:10px;
}


#TitleContainer{
  width:150px;
  height:75px;
  float:left;
}

#SignUp{
  font-weight:bold;
  font-size:35px;
}

#QuickAndEasy {
  font-size:15px;
  margin-top:3px;
}

#BackToLoginButton {
  width:150px;
  height:75px;;
  float:right;
}
  
#BackToLoginButton input {
  color:white;
  cursor: pointer;
  background-color:blue;
  width:120px;
  height:55px;
  margin-top:5px;
  float:right;
}



#ContentContainer {
  margin-left:10px;
  margin-top:10px;
  width:380px;
  height:175px;
  margin-right:10px;

}

#ContentContainer input {
  width:100px;
}

#EmailPasswordContainer {
  width:380px;
  height:68px;

}

#LabelContainer {
  width:78px;
  height:68px;
  float:left;
}

#FieldsContainer {
  width:302px;
  height:68px;
  float:right;

}
 
#FieldsContainer input {
  width:290px;
}

#BirthdayContainer {
  width:380px;
  height:100px;

  margin-top:16px;
  
}

#BirthdayLabelContainer {
  width:78px;
  height:100px;
  float:left;

}

#BirthdayFieldContainer {
  width:302px;
  height:100px;
  float:right;

}

#DateContainer {
  height:100px;
  width:150px;
  float:left;
}

#SignUpContainer {
  height:100px;
  width:152px;
  float:right;
}

#SignUpContainer input{
  height:25px;
  width:152px;
  background-color:green;
  color:white;
  
}