@charset "utf-8";
/* CSS Document */
* {
	margin:auto;
}

body {
 
}

#MainContainer {
  width:700px;
  height:1000px;
  border:1px solid;
  margin-top:100px;
  
}




#HeaderContainer {
  font-size:21px;
  font-weight:bold;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
  width:700px;
  border-bottom:1px solid;
  position: relative;
  display: inline-block;
  
}

#HeaderContainer img {
  width:17px;
  height:17px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  
}

#ProfilePhotoDiv {
  width:700px;
  height:210px;
  background-color:white;
  position:relative;
  
}

.ProfilePhotoTextDiv {
  height:40px;
  width:700px;
  background-color:orange;
}

#CoverPhotoDiv {
  width:700px;
  height:300px;
  background-color:white;

  text-align:center;
  position:relative;
}

#CoverPhotoTextDiv {
  height:40px;
  width:700px;
  background-color:orange;
}

.HeaderText {
  float:left;
  padding-left:10px;
  padding-top:10px;
  font-weight:bold;
  font-size:20px;
}

.EditText {
 float:right;
 font-size:19px;
 padding-right:10px;
 padding-top:10px;
 
}

.EditText a {
  text-decoration:none;
  cursor:pointer;
}


#ProfilePhotoImageDiv {
  height:170px;
  width:700px;
  margin:auto;
  text-align:center;
}


#ProfilePhotoImageDiv img {
  border-radius: 50%;
  height:170px;
  
}




#CoverPhotoArea {
  margin-top:10px;
  width:510px;
  height:200px;
  background-color:#cce6ff;
}

#CoverPhotoArea img {

  width:510px;
  height:200px;

}

#BioDiv {
  width:700px;
  height:190px;
  
}
  
.BioBodyDiv {
  text-align:center;
  color:#8080ff;
  font-size:16px;
  width:700px;
  height:100px;
  
}

#HobbiesDiv {
  width:700px;
  height:190px;
  
}

#ProfilePhotoUpload {
  width:200px;
  height:100px;
  background-color:green;
  border:1px solid;
  position:absolute;
  top:0px;
  right:0px;
  z-index:-98;
}

#ProfilePhotoUpload img {
  width:10px;
  height:10px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  
}


#CoverPhotoUpload {
  width:200px;
  height:100px;
  background-color:green;
  border:1px solid;
  position:absolute;
  top:0px;
  right:0px;
  z-index:-99;
  text-align:left;
}

#CoverPhotoUpload img {
  width:10px;
  height:10px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  
}

#MyBio {
  width:400px;
  height:143px;
}

#MyHobbies {
  width:400px;
  height:143px;
}

#BackToMyProfile {
  margin:auto;
  text-align:center;
}