#MainContainer {
    width:500px;
    height:150px;
    margin:auto;
    margin-top:200px;
    border:1px solid black;
    
}

#LeftContainer {
    float:left;
    width:200px;
    height:100px;

}

#RightContainer {
    float:right;
    width:300px;
    height:100px;
}