#FriendsSecondRow {
  width:870px;
  height:80px;
  
}

#FriendsSecondRow button{
  background-color:white;
  font-weight:bold;
  color:grey;
  border:none;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:14px;
  padding-right:14px;
  font-size:14px;
  height:57px;
}

#FriendsSecondRow button:hover {
  background-color:#F0F2F5;
  cursor:pointer;
}

#FriendsInnerResultContainer {
  width:870px;
  height:400px;
}

.FriendsOneFriend {
	border:1px solid #F7F7F7;
	width:427px;
	height:110px;
	margin-left:3px;
	margin-right:3px;
	float:left;
	border-radius:3px;
	margin-top:3px;
	margin-bottom:3px;
}

.FriendsOneFriend img {
	float:left;
	border-radius:3px;
	margin-top:10px;
	margin-bottom:10px;
	height:90px;
	width:90px;
}

.FriendsMiddleDiv {
	width:200px;
	height:60px;
	margin-top:40px;
	font-size:18px;
	font-weight:bold;
	margin-left:15px;
	float:left;
}

.FriendsMiddleDiv a {
	text-decoration:none;
	color:black;
}

.FriendsMiddleDiv a:hover {
	text-decoration:underline;
}

.FriendsRightDiv {
	float:left;
	width:122px;
	height:110px;
}

.FriendsRightDiv .CircleDiv {
	margin-left:28px;
	margin-top:34px;
	width:30px;
	height:30px;
	border-radius:50%;
	background-color:white;
	text-align:center;
	display: flex;
  	justify-content: center;
  	position:relative;
}

.FriendsRightDiv .CircleDiv:hover {
	background-color:#F0F2F5;
	cursor:pointer;
}


.FriendsRightDiv .CircleDiv img {
	width:15px;
	height:15px;
	margin-top:8px;
	
}

.FriendsRightDiv .CircleDiv .UnfriendMenu {
	position:absolute;
	width:60px;
	height:20px;
	display:none;
	top:30px;
	left:0px;
	border:1px solid;
}

.FriendsRightDiv .CircleDiv .UnfriendMenu:hover {
	background-color:#99ccff;
	cursor:pointer;
}
