body {
    position:relative;
}

#HeaderContainer {
  width:1300px;
  height:50px;
  background-color:white;
  display:inline-block;
  line-height: 50px;
  white-space: nowrap;
  float:left;
  position:relative;
  
}

#HeaderLogoBox {
  float:left;
  height:40px;
  width:40px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  
}

#HeaderLogoBox img{
  width:40px;
  height:40px;
}

#HeaderSearchBox {
  float:left;
  height:50px;
  width:475px;
}

#HeaderBrowsePeopleBox {
  margin-left:120px;
  float:left;
}

#HeaderIconsBox {
  float:right;
  min-width:200px;
  max-width:400px;
  height:50px;
  position: relative;
}

#HeaderProfilePhotoBox {
  height:40px;
  min-width:40px;
  max-width:150px;
  float:left;
  background-color:#E7F3FF;
  margin-top:5px;
  margin-bottom:5px;
  line-height: 40px;
  white-space: nowrap;
  font-weight:bold;
  color:#1877F2;
}

#HeaderProfilePhotoBox img {
  height:40px;
  width:40px;
  border-radius:50%;
  vertical-align:middle;
  float:left;
}

.IconBox {
  float:left;
  width:40px;
  height:40px;
  background-color:#E4E6EB;
  border-radius:50%;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:8px;
  text-align:center;
  
  display: flex;
  align-items: center;
  
}

.IconBox img {
  width:15px;
  height:15px;

}

.IconBox:hover {
    cursor:pointer;
    background-color:#D8DADF;
}

#Autocomplete {
	width:150px;
	display:inline-block;
	height:50px;
	position:relative;
    
}

#HeaderSearchFriends{
	width:297px;

}

#HeaderSearchBox form {
	display:inline-block;
}


#SearchResultContainer {
	position:absolute;
	top:35px;
	left:0px;
	min-height:1px;
	width:130px;
    z-index:9999999999999;
    display:none;
    
  
}

#SearchResultContainer ul {
	list-style: none;
    padding-left: 0;
   
    z-index:999999999999999999;
    
    
}

#SearchResult li {
	z-index:999999999999999999999;;
	width:303px;
	height:56px;

	background-color:white;
	font-weight:bold;
	line-height:56px;
  padding-top:3px;
  padding-bottom:3px;


}

#SearchResult li .MyText {
  display:block;

  font-size:14px;
  float:left;
}

#SearchResult img {
	height:40px;
  width:40px;
  margin:8px 7px 5px 10px;
  border-radius:50%;
  float:left;
}

#SearchResult li:hover {
	background-color:#b3d1ff;
	cursor:pointer;
}

#CreatePost {
    width:530px;
    min-height:415px;
    display:none;
    z-index:9999999999;
    position:absolute;
    top:100px;
    left:50%;
    margin-left: -265px;
    background-color: white;
}

#CreateTitleContainer {
  text-align: center;
  font-size:21px;
  width:530px;
  height:65px;
  border-bottom: 1px solid #E4E6EB;
  font-weight: bold;
  line-height:65px;
  position: relative;
}

#CancelOption {
  width:39px;
  height:39px;
  background-color: #E4E6EB;
  position: absolute;
  border-radius: 50%;
  top:13px;
  right:13px;
}

#CancelOption:hover {
  cursor:pointer;
  background-color: #D8DADF;
}

#CancelOption img {
  width:21px;
  height:21px;
  border-radius: 50%;
  margin:9px;
}

#CreateProfileInfo {
  margin-left:12px;
  margin-top:12px;
  width:518px;
  min-height:40px;  
  font-weight: 600;
  line-height:40px;
  overflow:auto;
}

#CreateProfileInfo img {
  width:40px;
  height:40px;
  border-radius: 50%;
  float:left;
  margin-right: 8px;
}

#CreateProfileInfo a {
	color:black;
	text-decoration:none;
}

#CreateProfileInfo a:hover {
	text-decoration:underline;
}

#CreateProfileInput {
  width:507px;
  height:140px;
  margin-top:10px;
  margin-left:12px;

  font-size:24px;
  border:none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow:scroll;
  color:#707276;
}

#AddToYourPost {
  width:506px;
  height:50px;
  border:1px solid #CED0D4;
  line-height: 50px;
  margin-left:12px;
  margin-right:12px;
  margin-top:5px;
  font-weight: bold;
}

#CreateIconsContainer {
  width:245px;
  height:50px;
  float:right;
  margin-right:30px;
}

.OneIconContainer {
  float:left;
  width:30px;
  height:30px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 50%;
  margin-right:10px;
}

.OneIconContainer:hover {
  background-color: #E4E6EB;
  cursor:pointer;
}

.OneIconContainer img {
  width:26px;
  height:26px;
  margin:2px;
  border-radius: 50%;

}

#CreatePostButton {
  width:506px;
  height:36px;
  margin-left:12px;
  background-color: #1877F2;
  color:white;
  border-radius: 25px;

}

#OpaqueDiv {
    display:none;
    opacity:0.8;
    
    position:absolute;
    /*
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    */
    width:100vw;
    height:100vh;
    z-index:9999999;
    background-color:grey;
}

#MessageIcon {
    position:relative;
}

#NewMessagesNumber {
    background-color:#F02849;
    color:white;
    width:21px;
    height:21px;
    border-radius:50%;
    top:-4px;
    right:-8px;
    z-index:99999;
    display:none;
    position:absolute;
    text-align: center;
    line-height:21px;
}

#NewNotificationsNumber {
  background-color:#F02849;
  color:white;
  width:21px;
  height:21px;
  border-radius:50%;
  top:-4px;
  right:-8px;
  z-index:99999;
  display:none;
  position:absolute;
  text-align: center;
  line-height:21px;
}

#NotificationsIconBox{
  position: relative;
}


#CreatePostUpload {
  width:200px;
  height:100px;
  background-color:green;
  border:1px solid;
  position:absolute;
  top:0px;
  right:0px;
  z-index:-98;
  font-size:16px;
  line-height:16px;
  display:none;
  font-weight: normal;
  z-index:99999999999999;
  text-align:left;
  
} 

#CreatePostUpload img {
  width:10px;
  height:10px;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  
}

#CreatePostUpload input {
	display:block;
}

#CreatePostImageSubmit {
	margin-left: 0px;
}

.CreatePostPhoto {
	width:480px;
	/*height:480px;*/
	border-radius:25px;
}

#TagPeople {
    width:550px;
    min-height:415px;
    overflow: scroll;
    display:none;
    z-index:9999999999;
    position:absolute;
    top:100px;
    left:50%;
    margin-left: -265px;
    background-color: white;
}

#TagPeopleHeader {
  text-align: center;
  font-size:21px;
  width:530px;
  height:65px;
  border-bottom: 1px solid #E5E5E5;
  font-weight: bold;
  line-height:65px;
  position: relative;
}

#BackOption {
  width:39px;
  height:39px;
  background-color: #E4E6EB;
  position: absolute;
  border-radius: 50%;
  top:13px;
  left:13px;
}

#BackOption:hover {
  cursor:pointer;
  background-color: #D8DADF;
}

#BackOption img {
  width:21px;
  height:21px;
  border-radius: 50%;
  margin:9px;
}

#TagPeopleSearch #MyInput {
  float:left;
  background-color:#F0F2F5;
  border:none;
  border-radius:20px;
  width:420px;
  height:33px;
  margin:9px 0px 0px 14px;
  position:relative;
}

#TagPeopleSearch #MyInput input {
  background-color:#F0F2F5;
  border:none;
  width:360px;
  height:31px;

  border:none;
  left:30px;
  top:0px;
  position:absolute;
  background-color:#F0F2F5;
  color:#ABADB1;
}

#TagPeopleSearch #MyInput img {
  position:absolute;
  top:9px;
  left:9px;
  width:15px;
  height:15px;
}

#TagPeopleSearch a {
  float:left;
  color:#3B80DF;
  text-decoration: none;
  margin-left:20px;
  font-weight:bold;
}

#TagPeopleSearch a:hover {
  cursor:pointer;
}

#TagPeopleSuggestionsHeader {
  margin:0px 0px 0px 14px;
  color:#6E7074;
  font-size:12px;
  width:400px;
  height:40px;
  font-weight: 600;
}

.TagPeopleSuggestionsOneFriend {
  width:516px;
  height:35px;
  margin: 0px 0px 0px 14px;
}

#LogoutIconBox {
    position:relative;
}

#LogoutDiv {
    position:absolute;
    width:100px;
    height:25px;
    text-align:center;
    line-height:25px;
    font-size:12px;
    font-weight:bold;
    left:-30px;
    top:66px;/*was 40*/
    display:none;
    background-color:#cce0ff;
    z-index: 99;
    border-top:1px solid black;
}

#ChangePasswordDiv {
    position:absolute;
    width:100px;
    height:25px;
    text-align:center;
    line-height:25px;
    font-size:12px;
    font-weight:bold;
    left:-30px;
    top:40px;
    display:none;
    background-color:#cce0ff;
    z-index: 99;
}

.OneTagPeopleResult {
  width:516px;
  height:51px;
  border-radius:5px;
  line-height:51px;
  font-size:13px;
  color:#4B4B4B;
  font-weight: 600;
}

.OneTagPeopleResult:hover {
  background-color: #E3E4E5;
  cursor:pointer;
}

.OneTagPeopleResult img {
  float:left;
  margin:7px 11px 7px 7px;
  height:37px;
  width:37px;
  border-radius: 50%;
}

#TaggedPeople {
  margin:0px 0px 0px 14px;
  color:#6E7074;
  font-size:12px;
  width:516px;
  min-height:60px;
  font-weight: 600;
  display:none;
  text-align: left;
}

#TaggedPeopleDisplay {
  border:1px solid #CED0D4;
  border-radius:5px;
  width:500px;
  min-height:60px;
  margin:0px 12px 0px 0px;
}

.OneTaggedPerson {
  display: inline-block;

  height:27px;
  
  line-height:27px;
  background-color: #E7F3FF;
  color:#277FF3;
  font-size:14px;
  font-weight:600;
  margin:10px 0px 10px 10px;
}

.CancelTag:hover {
	cursor:pointer;
}


#NotificationsContainer {
    width:360px;
    height:500px;
    position:absolute;
    top:50px;
    left:-60px;
    background-color: white;
    z-index:9;
    display:none;
    overflow: scroll;
}

#NotificationsTitle {
    margin:0px 0px 0px 15px;
    font-size:24px;
    font-weight: bold;
    
}

.OneNotification {
    margin:0px 15px 0px 15px;
    height:80px;
    width:320px;
    position: relative;
}

.OneNotification:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.OneNotificationBlueDot {
    width:10px;
    height:10px;
    background-color: #1770E6;
    position: absolute;
    right:5px;
    top:34px;
    border-radius: 50%;
}

.OneNotificationProfilePic {
    height:60px;
    width:60px;
    border-radius: 50%;
    margin:10px 15px 10px 10px;
    float:left;
}

.OneNotificationRightDiv {
    float:left;
    margin:15px 0px 0px 0px;
    width:165px;
    height:65px;
    text-align: left;
    font-size:14px;
    line-height: 14px;
}

.OneNotificationInfo {
    
    
}

.OneNotificationNameDiv {
    font-weight: bold;
}

.OneNotificationTimeDiv {
    font-size: 12px;
    line-height: 12px;
    margin:5px 0px 0px 0px;
}

#NoNewNotifications {
  margin:0px 0px 0px 15px;
}
