@charset "utf-8";
/* CSS Document */
* {
	margin:auto;
}

body {
	position:relative;
}

#LoginContainer {
    margin-top:20px;
	width:402px;
	height:280px;
	border:1px solid;
	padding-top:10px;

}

#FormAndLabelContainer {
  height:60px;
  width:350px;
  
}

#LabelContainer {
  height:60px;
  width:75px;
  float:left;
  
}

.EachLabel {
  margin-bottom:5px;
}


#FormContainer {
  height:60px;
  width:275px;
  float:right;
}

.EachTextBox input[type=text] {
  width:268px;
  margin-bottom:5px;
}

.EachTextBox input[type=password] {
    width:268px;
    margin-bottom:5px;
  }

#LoginButton {

  margin:auto;
  text-align:center;
}

#LoginButton button {
  background-color:blue;
  width:350px;
  color:white;
  cursor: pointer;

}

#ForgotPassword {
  text-align:center;
  font-size:12px;
  margin-top:15px;
  margin-bottom:15px;
  
}


#myHR {
  width:350px;
}


#CreateNewAccount {
  text-align:center;
  margin-top:15px;
}


#CreateNewAccount input {
  color:white;
  cursor: pointer;
  background-color:green;
}

a {
    text-decoration: underline;
    color:blue;
}

a:hover {
    cursor:pointer;
}

#Explanation {

	width:800px;
	height:200px;
	border:1px solid black;
	
	top:-200px;
	left:285px;
}

.ExplanationHeader {
	font-weight:bold;
}

.WorkingFeatures {
	text-decoration:underline;
}

#LeftList {
	float:left;
	width:400px;
	height:160px;
	background-color:#a4f542;
}

#RightList {
	float:left;
	width:400px;
	height:160px;
	background-color:#42f5e3;
}

